/* ================= ANIMATIONS ================= */

/* Fade Up */

.fade-up {
  opacity: 0;
  transform: translateY(40px);
  transition: 0.9s ease;
}

.fade-up.active {
  opacity: 1;
  transform: translateY(0);
}

/* Fade Left */

.fade-left {
  opacity: 0;
  transform: translateX(-40px);
  transition: 1s ease;
}

.fade-left.active {
  opacity: 1;
  transform: translateX(0);
}

/* Fade Right */

.fade-right {
  opacity: 0;
  transform: translateX(40px);
  transition: 1s ease;
}

.fade-right.active {
  opacity: 1;
  transform: translateX(0);
}

/* Zoom */

.zoom-in {
  opacity: 0;
  transform: scale(.9);
  transition: .8s ease;
}

.zoom-in.active {
  opacity: 1;
  transform: scale(1);
}
