<!-- ================= FOOTER ================= -->

<footer class="antra-footer fade-up">

  <div class="footer-overlay"></div>

  <div class="footer-container">

    <!-- Column 1 -->

    <div class="footer-col brand">

      <div class="footer-logo">
        <span>▮▮</span> antra
      </div>

      <p class="footer-desc">
        We Transform Your Vision Into Beautifully<br>
        Crafted Spaces.
      </p>

      <p class="footer-address">
        5609 E Sprague Ave, Spokane Valley,<br>
        WA 99212, USA
      </p>

    </div>


    <!-- Column 2 -->

    <div class="footer-col">

      <h4>About Us</h4>

      <ul>
        <li><a href="#">Services</a></li>
        <li><a href="#">Careers</a></li>
        <li><a href="#">Our Team</a></li>
        <li><a href="#">Blog</a></li>
        <li><a href="#">Contact Us</a></li>
      </ul>

    </div>


    <!-- Column 3 -->

    <div class="footer-col">

      <h4>Our Projects</h4>

      <ul>
        <li><a href="#">Partners</a></li>
        <li><a href="#">Partners Program</a></li>
        <li><a href="#">Affiliate Program</a></li>
        <li><a href="#">Terms & Conditions</a></li>
        <li><a href="#">Support Center</a></li>
      </ul>

    </div>


    <!-- Column 4 -->

    <div class="footer-col contact">

      <h3 class="footer-phone">
        +(084) 456-0789
      </h3>

      <p class="footer-mail">
        Support@example.com
      </p>

      <div class="footer-social">

        <a href="#">Facebook</a>
        <a href="#">Instagram</a>
        <a href="#">YouTube</a>
        <a href="#">Twitter</a>

      </div>

    </div>

  </div>


  <!-- Bottom Bar -->

  <div class="footer-bottom">

    © Copyright 2025 Antra. All rights reserved.

  </div>

</footer>